.idea/
.git/
.github/
**/.git/
assets/
node_modules/
bin/*
!bin/console
docker/nginx/cert
docker/php/symfony.ini
docker/php/xdebug.ini
public/uploads/*
public/.htaccess
tests/
var/cache/*
var/log/*

**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.gitattributes
**/.gitignore
**/.gitmodules
**/Dockerfile
**/Thumbs.db

.editorconfig
.env.prod
.env.local
.env.test
.php_cs
.php_cs.cache
Makefile*
*.lock
docker*.yml
.travis.yml
phpunit*
phpstan*
grumphp.yml
webpack.config.js
LICENSE
package.json
phpcs.xml.dist
