**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/Dockerfile
**/Thumbs.db
.editorconfig
.env.local
.env.test
.php_cs.cache
bin/*
!bin/console
public/uploads/*
public/.htaccess
var/cache/*
var/log/*
.git/
Makefile*
*.lock
docker/
docker*.yml
tests/
.idea/
.travis.yml
phpunit*
phpstan*
grumphp.yml
webpack.config.js
assets/
LICENSE
package.json
phpcs.xml.dist
