<div class="bg-gray-600 text-white p-2 md:p-4 text-center relative">
    <p class="text-sm md:text-2xl font-semibold md:font-normal">This is a sandbox website presenting NumberNine CMS</p>
    <p class="text-xs md:text-lg">All data will reset in <span id="reset-countdown"></span></p>
    <div
        class="absolute right-1 md:right-3 bottom-1 md:bottom-3 text-xs text-gray-400 cursor-help"
        title="numberninecms/cms v{{ package_version('numberninecms/cms') }}&#10;numberninecms/chapterone v{{ package_version('numberninecms/chapterone') }}"
    >
        v{{ package_version('numberninecms/cms') }}
    </div>
</div>
