{$SERVER_NAME}

log

route /phpmyadmin/* {
    root * /var/www/html
    php_fastcgi php:9000
    encode gzip
    file_server
}

route {
    root * /srv/app/public
    php_fastcgi php:9000
    encode gzip
    file_server
}
